<div class="pmd-card pmd-z-depth pmd-card-custom-form">
  <div class="pmd-card-body">
    <%= simple_form_for @object do |f| %>
      <%= f.input :full_name, input_html: { class: 'form-control' } %>

      <%= f.input :cpf, input_html: { class: 'form-control cpf' } %>

      <%= f.input :email, input_html: { class: 'form-control' } %>

      <%= f.input :birthdate, as: :string, input_html: { class: 'form-control datepicker',
        value: "#{ l f.object.birthdate if f.object.birthdate.present?}" } %>

      <%= f.input :phone, as: :string, input_html: { class: 'form-control phone' } %>



      <%= f.input :picture_file, as: :file, input_html: { class: 'form-control' } %>
      <% if @object.picture_file.present? %>
        <%= link_to @object.picture_file.url, target: "_blank" do %>
          <span class="glyphicon glyphicon-cloud-download icon-download" aria-hidden="true">Original</span>
        <% end %>
        <%= link_to @object.picture_file.thumb.url, target: "_blank" do %>
          <span class="glyphicon glyphicon-cloud-download icon-download" aria-hidden="true">Pequeno</span>
        <% end %>
        <%= link_to @object.picture_file.medium.url, target: "_blank" do %>
          <span class="glyphicon glyphicon-cloud-download icon-download" aria-hidden="true">Médio</span>
        <% end %>
        <%= link_to @object.picture_file.large.url, target: "_blank" do %>
          <span class="glyphicon glyphicon-cloud-download icon-download" aria-hidden="true">Grande</span>
        <% end %>
      <% end %>

      <%= f.simple_fields_for :address do |address|  %>
        <%= address.input :state_id, as: :select, collection: @states,
                    input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>

        <%= address.input :city_id, collection: @cities, include_blank: true,
                    selected: address.object.city_id, wrapper_html: { class: 'form-group' },
                    input_html: { class: 'form-control',
                    data: { selected: address.object.city_id } } %>

        <%= address.input :zipcode, as: :string, input_html: { class: 'form-control zipcode' } %>

        <%= address.input :district, as: :string, input_html: { class: 'form-control' } %>

        <%= address.input :public_place, as: :string, input_html: { class: 'form-control' } %>

        <%= address.input :complement, as: :string, input_html: { class: 'form-control' } %>

        <%= address.input :ibge_code, as: :string, input_html: { class: 'form-control' } %>
      <% end %>

      <%= f.input :status, as: :boolean, label_html: { class: 'pmd-checkbox pmd-checkbox-ripple-effect' }%>

      <%= render 'layouts/common/buttons/back',
                 link: citizens_path %>

      <%= render 'layouts/common/buttons/submit' %>
    <% end %>
  </div>
</div>